body{
    margin: 0;
    font-family: 'Mulish', sans-serif;
    background: linear-gradient(180deg, rgba(227, 255, 248, 0) 82.08%, rgba(227, 255, 248, 0.38) 100%);

}
.page{
    width: 1000px;
    align-items: center;
    margin: 65px auto 0;

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
ul{
    display:flex
    gap:  48px;
    list-style: none;
    margin: 0;
    padding:0; 
    
}


h2{
    font-size: 49px;
    line-height: 56px;
    color: #000;
}

main{

    display: flex;
    align-items: center;
    justify-content: space-between;
}
span{
    color: blue;
}
p{
    font-size: 14px;
    line-height: 28px;
    color: rgba(125, 121, 135, 1);
}
footer{
    font-size: 14px;
line-height: 28px;
text-align: center;
margin-top: 80px;
}